@media only screen and (max-width: 992px) {
    .nav {

        margin: auto;
        width: 90%;
        padding: 10px 10px;
    }

    .about-box {
        border: none;


    }

    .about-desc a {

        margin: 10px 50px 10px 0px;
    }

    .container {
        width: 90%;
        padding: 20px;
        text-align: center;
        margin: 15px auto;

    }

    .about-desc {
        text-align: left;
        padding: 20px 30px;
        margin: 10px;

    }


    .services-child, .port-child {

        width: 50%;

    }


}

@media only screen and (max-width: 768px) {
    .about-box {
        border: none;

    }

    .container {
        width: 90%;
        padding: 20px;
        text-align: center;
        margin: 15px auto;

    }

    .services-child, .about-image-area, .fact-child, .port-child, .blog-child {

        width: 100%;

    }

    .about-desc, .about-image-area {
        width: 80%;
    }



    .basic-info {

        padding: 10px 20px;
        width: 100%;
        float: left;

    }

    .nav-list {
        width: 100%;

    }


    .about-desc li {
        width: 100%;

    }

    .card {

        width: 100%;
        margin: 20px 10px;
    }

    form {
        width: 90%;

    }
}